{% extends "master.html" %}

{% block title %}
  Detalle del Estudiante
{% endblock %}

{% block content %}
<h2 class="mb-4">Detalle del Estudiante: {{ estudiante.nombre }}</h2>
<hr>

<p class="lead"><b>Nombre:</b> {{ e.nombre }}</p>
<p class="lead"><b>Apellido:</b> {{ e.apellido }}</p>
<p class="lead"><b>Edad:</b> {{ e.edad }}</p>
<p class="lead"><b>Cédula:</b> {{ e.cedula }}</p>

<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Módulo</th>
      <th>Comentario</th>
    </tr>
  </thead>
  <tbody>
    {% for m in e.obtener_matriculas %}
      <tr>
        <td>
          {{m.modulo.nombre}}
        </td>
        <td>
          {{m.comentario}}
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'index' %}" class="btn custom-btn custom-border-btn mt-4">Volver al Inicio</a>

{% endblock %}