{% extends "master.html" %}

{% block title %}
  Listado de Matriculas
{% endblock %}

{% block content %}
<h1>{{mititulo}}</h1>
<hr>
<h3>Número de Matriculas {{ numero_matriculas }}</h3>
<hr>
<a class= "custom-btn" href="{% url 'crear_matricula' %}"> <i class="bi bi-plus-circle-fill"></i> Crear </a>
<hr>
<table id="tabla_datos" class="cell-border">
  <thead>
    <tr>
      <th>Estudiante</th>
      <th>Módulo</th>
      <th>Comentario</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for e in matriculas %}
    <tr>
      <td>
        {{e.estudiante.nombre}} <br>
        {{e.estudiante.get_tipo_estudiante_display }}
        <a href="{% url 'detalle_estudiante' e.estudiante.id %}"><i class="bi bi-eye-fill"></i></a>
      </td>
      <td>
        {{e.modulo.nombre}}
      </td>
      <td>
        {{e.comentario}}
      </td>
      <td>
        <a href="{% url 'detalle_matricula' e.id %}"> <i class="bi bi-eye-fill"></i> Ver </a>
        <a href="{% url 'editar_matricula' e.id %}"><i class="bi bi-pencil-fill"></i> Editar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}