{% extends "master.html" %}

{% block title %}
  Listado de Estudiantes
{% endblock %}

{% block content %}
<h1>{{mititulo}}</h1>
<hr>
<h3>Número de Modulos {{ numero_estudiantes }}</h3>
<hr>
<a href="{% url 'crear_estudiantes' %}" class="btn custom-btn"><i class="bi bi-plus-circle-fill"></i> Crear</a>
<hr>
<table id="tabla_datos" class="cell-border">
  <thead>
    <tr>
      <th><b>Nombre</b></th>
      <th><b>Apellido</b></th>
      <th><b>Cedula</b></th>
      <th><b>Edad</b></th>
      <th><b>Tipo Estudiante</b></th>
      <th><b>Matriculas</b></th>
      <th><b>Costo Matriculas</b></th>
      <th><b>Total</b></th>
    </tr>
  </thead>
  
  {% for e in estudiantes %}
  <tbody>
    <tr>
      <td>
        {{e.nombre}}
      </td>
      <td>
        {{e.apellido}}
      </td>
      <td>
        {{e.cedula}}
      </td>
      <td>
        {{e.apellido}}
      </td>
      <td>
        {{e.edad}}
      </td>
      <td>
        {{e.tipo_estudiante}}
      </td>
      <td>
        {% for m in e.lasmatriculas.all %}
          • {{ m.modulo }}<br>
          &nbsp;&nbsp;Costo: ${{ m.costo }}<br><br>
        {% empty %}
          No tiene matrículas
        {% endfor %}
      </td>
      <td>${{ e.obtener_costo_total }}</td>
    </tr>
  </tbody>
  
  {% endfor %}

</table>
<hr>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
