{% extends "master.html" %}

{% block title %}
  Listado de Modulos
{% endblock %}

{% block content %}
<h1>{{mititulo}}</h1>
<hr>
<h3>Número de Modulos {{ numero_modulos }}</h3>
<hr>
<a href="{% url 'crear_modulo' %}" class="btn custom-btn"><i class="bi bi-plus-circle-fill"></i> Crear</a>
<hr>
<table id="tabla_datos" class="cell-border">
  <thead>
    <tr>
      <th><b>Nombre Modulo</b></th>
      <th><b>Valor Matriculas</b></th>
    </tr>
  </thead>
  
  {% for e in modulos %}
  <tbody>
    <tr>
      <td>
        {{e.nombre}}
      </td>
      <td>
        {{e.valor_matriculas}}
      </td>
    </tr>
  </tbody>
  
  {% endfor %}

</table>
<hr>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
